/*      NAVBAR      */
.navbar {
    background-color: rgb(20, 25, 45);
}

.navbar-brand img {
    height: 3rem;
    width: auto;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


.nav-link {
    color: rgb(217, 0, 98);
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar .nav-link.active {
    color: white;
}

.navbar a.nav-link:hover {
    color: white;
    background-color: rgb(217, 0, 98);
}

/*     SECCION MAIN     */
main {
    background-color: rgb(83, 184, 152);
    background-image: linear-gradient(rgba(28, 118, 173, 0.92), rgba(83, 184, 152, 1));
}

/*      CONTAINER CARDS     */
.bg-card-main {
    background-color: rgb(80, 20, 100);
}

/*      FOOTER      */
.footer-bg-color {
    background-color: rgb(20, 25, 45);
}




/*      MEDIA QUERIES Mobile First Default Bootstrap

X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/
